  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    box-sizing: border-box;
    word-break: break-word;
  }

  a {
    text-decoration: none;
  }

  a:focus,
  button:focus {
    outline: none;
  } 

